<div class="copyright text-center">
    <h6><span>&copy;  2000-2019 Automated Financial Systems, Inc. All Rights Reserved. AFS and all AFS <br />product trademarks are registered trademarks of Automated Financial Systems, Inc.</span></h6>
</div>